// colors
$accentColor = #FF3300
$textColor = #282424
$borderColor = #eaecef
$codeBgColor = #282c34

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 930px
$MQMobile = 930px
$MQMobileNarrow = 930px
